@import '../../css/constants.css';

:root {
  --notification-radius: 3px;
}

.notification {
  box-sizing: border-box;
  padding: var(--spacing-small);
  border-radius: var(--notification-radius);
  font-family: 'Open Sans', sans-serif;
  background-color: #262626;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  margin-top: var(--spacing-xsmall);
  min-width: 250px;
  min-height: 30px;
  text-align: left;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 500ms;
}

.notification-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-exit.notification-exit-active {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: all 500ms;
}
