@import '../../css/constants.css';

.quote {
  flex-basis: 66.6%;
  margin-bottom: var(--spacing-xlarge);
}

.quote__quote {
  font-size: 23px;
  text-align: center;
  margin: 0 0 var(--spacing-xsmall);
  color: var(--color-header-text);
  font-style: italic;
  font-family: 'Nanum Myeongjo', serif;
}

.quote__author {
  font-size: 14px;
  margin: 0 0 0 150px;
  color: var(--color-header-text);
  font-family: 'Nanum Myeongjo', serif;
}