@import '../../../css/constants.css';

.icon-button {
  width: 16px;
  height: 16px;
  border: 0;
  background: none;
  padding: 0;
  margin: var(--spacing-xsmall);
  cursor: pointer;
  outline:none;

  .icon {
    width: 16px;
    height: 16px;
    display: block;
  }

  &:hover {
    svg {
      fill: var(--color-link-hover);
    }
  }

  &--withcta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    width: auto;

    .icon {
      min-width: 16px;
      margin-right: var(--spacing-xsmall);
    }

    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.icon-button--login {
  border: 1px solid var(--color-border);
  border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: var(--color-header-text);
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px 0 19px;

  .google-icon {
    width: 20px;
    height: 20px;
    margin-right: var(--spacing-small);
  }
}