@import '../../css/constants.css';

.header {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-header-text-important);
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: var(--spacing-normal) 0;
}
