@import '../../css/constants.css';

.header {
  font-family: "Source Serif Pro",serif;
  font-size: 26px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: var(--spacing-normal) 0;
}
