@import '../../css/constants.css';

html,
body {
  background-size: 100px 50px;
  margin: 0;
  line-height: 1;
  color: var(--color-header-text);
  background-color: var(--color-main-background);
}

.app {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;

  &__container {
    width: 100%;
    margin: 10px;
  }
}

h2 {
  font-size: 24px;
  color: var(--color-header-text);
}

* {
  Box-sizing: Border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}