@import '../../../css/constants.css';

.menubutton {
  background-color: transparent;
  color: var(--color-text);
  font-weight: bold;
}

.menubutton:hover,
.menubutton.is-active {
  background-color: #f9f7f3;
  border-radius: 100px;
}
