@import '../../css/constants.css';

.app-header {
  width: 100%;
  height: 80px;
}

.app-header__wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.app-header__menu {
  display: flex;
  flex-direction: row;
}
